<%layout('template.ejs')-%>
<%-include('flashmsg.ejs')%>

<link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script> 
<link rel="stylesheet" href="/style.css">

<h1 class="text-center display-3">Spot Details</h1>
<div class="container">
<div class="row d-flex justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow mb-3 ">
            <% if(camp.image.length){ %> 
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <% for(i=0;i<camp.image.length;i++){ %>
                      <div class="carousel-item active">
                        <img style="height: 60vh;width: auto;" src="<%=camp.image[i].url%>" class="d-block w-100" alt="cloud">
                      </div>
                      <% } %>    
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <% } else{ %> 
                    <img src="https://source.unsplash.com/random" alt="unsplash" class="card-img-top"> 
                  <% } %> 
            <div class="card-body">
                <h2  class="card-title"><%=camp.title%></h2>
                <ul>
                <li>Author:<%=camp.author%></li>
                  <li>Location:<%=camp.location%></li>
                    <li>Price:$<%=camp.price%></li>
                    <li>Experience:<%=camp.description%></li>
                </ul>
               
                <%if(signedIn&&signedIn.username==camp.author){%>
                
                <a class="card-link" href='/yelpies/<%=camp._id%>/edit'>Edit Spot </a>
                <form method="POST" action="/yelpies/<%=camp._id%>?_method=DELETE" accept-charset="utf-8">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <%}%>
                
            </div>
        </div>
    </div>
 
    <div class=col-lg-4>
     <div class="map__control"> <div id="map"></div></div>
         <%if(signedIn){%>
          <div>
        <form method="POST"  action="/yelpies/<%=camp._id%>/review">
            <textarea class="form-control"name="review[msg]" id="description" rows="5" cols="3"placeholder="describe your experience"></textarea>
          
            <%-include('star.ejs')%> 
        </form>
<%}%>
</div>
</div>
        

    
         
  <div class="col-lg-7 ">
    <%if(camp.reviews[0]) { %>
      <h2 class="display-5 fs-4 mt-5">SPOT REVIEWS</h2>
<%for (review of camp.reviews){%>
    <div class="card shadow p-2 mb-3">   
        <div class="starability-result" data-rating="<%=review.rating%>"><%=review.rating%></div>
        <p class="text-muted">User:<%=review.author%></p>
        <p><%=review.msg%></p>
        <%if(signedIn&&signedIn.username==review.author){%>       
    <a class="card-link" href="/yelpies/<%=camp._id%>/review/<%=review._id%>">Edit</a>
        <form method="POST" action="/yelpies/<%=camp._id%>/review/<%=review._id%>?_method=DELETE" accept-charset="utf-8">
            <button class="mb-2 btn btn-danger">Delete</button>
        </form>
        <%}%>
      </div>
        <%}%>
        <%}%>
    </div>
  </div>
  </div>


<script>
  // TO MAKE THE MAP APPEAR YOU MUST
  // ADD YOUR ACCESS TOKEN FROM
  // https://account.mapbox.com
  mapboxgl.accessToken = '<%-key%>'
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: [<%-camp.geoLocation.coordinates%>], // starting position [lng, lat]
        zoom: 12 // starting zoom
    });
    const geojson = {
'type': 'FeatureCollection',
'features': [
{ 
'type': 'Feature',
'geometry': <%-camp.geoLocation %> ,
'properties': {
'title': '<%-camp.title%>',
'description':'<%-camp.location%>'
}
}]}

for (const feature of geojson.features) {
// create a HTML element for each feature
const el = document.createElement('div');
el.className = 'marker';

// make a marker for each feature and add it to the map
new mapboxgl.Marker(el)
.setLngLat(feature.geometry.coordinates)
.setPopup(
new mapboxgl.Popup({ offset: 25 }) // add popups
.setHTML(
`<h3>${feature.properties.title}</h3><p>${feature.properties.description}</p>`
)
)
.addTo(map);
}
</script>

